html, body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

html {
	background: #efefef;
}

body {
	width: 600px;
	margin: 20px auto;
	background: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

h1 {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
	font-size: 21px;
	color: #F5685A;
}

h2 {
	color: #555;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 16px;
}

.errors {
	background: #fee;
	border: 1px solid #900;
	font-size: 13px;
	margin: 10px 0;
}

.info {
	background: #def;
	border: 1px solid #09f;
	font-size: 13px;
	padding: 10px;
	margin: 10px 0;
}
